=begin
#PassportPDF API

#Another brick in the cloud

The version of the OpenAPI document: 1.0.1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class PassportPDFApplicationManagerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [StringResponse]
    def passport_pdf_application_manager_get_application_download_link(application_id, opts = {})
      data, _status_code, _headers = passport_pdf_application_manager_get_application_download_link_with_http_info(application_id, opts)
      data
    end

    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StringResponse, Integer, Hash)>] StringResponse data, response status code and response headers
    def passport_pdf_application_manager_get_application_download_link_with_http_info(application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PassportPDFApplicationManagerApi.passport_pdf_application_manager_get_application_download_link ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling PassportPDFApplicationManagerApi.passport_pdf_application_manager_get_application_download_link"
      end
      # resource path
      local_var_path = '/api/passportpdfapplicationmanager/PassportPDFApplicationManagerGetApplicationDownloadLink'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'applicationId'] = application_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'StringResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PassportPDFApplicationManagerApi#passport_pdf_application_manager_get_application_download_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [StringResponse]
    def passport_pdf_application_manager_get_application_latest_version(application_id, opts = {})
      data, _status_code, _headers = passport_pdf_application_manager_get_application_latest_version_with_http_info(application_id, opts)
      data
    end

    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StringResponse, Integer, Hash)>] StringResponse data, response status code and response headers
    def passport_pdf_application_manager_get_application_latest_version_with_http_info(application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PassportPDFApplicationManagerApi.passport_pdf_application_manager_get_application_latest_version ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling PassportPDFApplicationManagerApi.passport_pdf_application_manager_get_application_latest_version"
      end
      # resource path
      local_var_path = '/api/passportpdfapplicationmanager/PassportPDFApplicationManagerGetApplicationLatestVersion'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'applicationId'] = application_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'StringResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PassportPDFApplicationManagerApi#passport_pdf_application_manager_get_application_latest_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [StringResponse]
    def passport_pdf_application_manager_get_application_minimum_supported_version(application_id, opts = {})
      data, _status_code, _headers = passport_pdf_application_manager_get_application_minimum_supported_version_with_http_info(application_id, opts)
      data
    end

    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StringResponse, Integer, Hash)>] StringResponse data, response status code and response headers
    def passport_pdf_application_manager_get_application_minimum_supported_version_with_http_info(application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PassportPDFApplicationManagerApi.passport_pdf_application_manager_get_application_minimum_supported_version ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling PassportPDFApplicationManagerApi.passport_pdf_application_manager_get_application_minimum_supported_version"
      end
      # resource path
      local_var_path = '/api/passportpdfapplicationmanager/PassportPDFApplicationManagerGetApplicationMinimumSupportedVersion'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'applicationId'] = application_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'StringResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PassportPDFApplicationManagerApi#passport_pdf_application_manager_get_application_minimum_supported_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the maximum number of threads to be used simultaneously by a client application.
    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [IntegerResponse]
    def passport_pdf_application_manager_get_max_client_threads(application_id, opts = {})
      data, _status_code, _headers = passport_pdf_application_manager_get_max_client_threads_with_http_info(application_id, opts)
      data
    end

    # Gets the maximum number of threads to be used simultaneously by a client application.
    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegerResponse, Integer, Hash)>] IntegerResponse data, response status code and response headers
    def passport_pdf_application_manager_get_max_client_threads_with_http_info(application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PassportPDFApplicationManagerApi.passport_pdf_application_manager_get_max_client_threads ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling PassportPDFApplicationManagerApi.passport_pdf_application_manager_get_max_client_threads"
      end
      # resource path
      local_var_path = '/api/passportpdfapplicationmanager/PassportPDFApplicationManagerGetMaxClientThreads'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'applicationId'] = application_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'IntegerResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PassportPDFApplicationManagerApi#passport_pdf_application_manager_get_max_client_threads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
